:root {
  --primary-color: #34495e;
  --secondary-color: #1abc9c;
    --text-color: #333;
    --bg-color: #f7f8fa;
    --sidebar-bg: #5198df;
    --content-bg: #ecf0f1;
    --textarea-bg: #ecf0f1;
    --hover-color: #3498db;
    --active-color: #2980b9;
    --border-color: #bdc3c7;
    transition: all 1s ease;


  }

  .dark-mode {
    --primary-color: #2c3e50;
    --secondary-color: #16a085;
    --text-color: #ecf0f1;
    --bg-color: #2c3e50;
    --sidebar-bg: #34495e;
    --content-bg: #2c3e50;
    --textarea-bg: #456280;
    --hover-color: #2980b9;
    --active-color: #3498db;
    --border-color: #7f8c8d;
    transition: all 1s ease;
    
  }



  body,
  html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: "Roboto", sans-serif;
    background-color: var(--bg-color);
    color: var(--text-color);
  }

  .container {
    display: flex;
    height: 100vh;
  }

  .sidebar {
    width: 300px;
    background-color: var(--sidebar-bg);
    color: white;
    padding: 20px;
    overflow-y: auto;
    transition: all 1s ease;
    max-height: 100vh;

    h1{
      font-size: 2rem;
      margin-bottom: 10px;
    }
  }

  .sidebar.collapsed {
    width: 60px;
    transition: all 1s ease;

  }

  .sidebar h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
  }

  .search-container {
    margin-bottom: 20px;
  }

  .search-container input {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: rgba(255, 255, 255, 0.1);
    color: #fff;
  }

  .menu-item {
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.1);
    margin: 5px 0;
    border-radius: 4px;
    cursor: pointer;
    transition: background 0.3s;
  }

  .menu-item:hover {
    background-color: var(--hover-color);
  }

  .video-container {
    max-width: 900px;
    margin: 0 auto;
    background: var(--content-bg);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }

  video {
    width: 100%;
    border-radius: 8px;
  }

  #user-notes{
    background: var(--textarea-bg);
  }

  .active {
    background-color: var(--active-color);
  }

  .font-size-controls {
    display: flex;
    gap: 10px;
  }

  #download-modal {
    display: none;
    color: #333;
  }

  #modal-box {
    color: #333;
  }

  #download-modal.hidden {
    display: none;
  }

  #download-modal.flex {
    display: flex;
  }

  .hidden-content {
    display: none;
  }